[client]
user=root
password="{{ root_db_password }}"

[mysql]
user=root
password="{{ root_db_password }}"

[mysqldump]
user=root
password="{{ root_db_password }}"

[mysqldiff]
user=root
password="{{ root_db_password }}"
